* {
    margin: 0;
    border: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* 
Hex
RGB or RGBA
And Just the name
*/
.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}